<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias type="com.game.mybatis.bean.User" alias="user"/>
		<typeAlias type="com.game.mybatis.bean.Question" alias="question"/>
		<typeAlias type="com.game.mybatis.bean.Record" alias="record" />
	</typeAliases>

   <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/game?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
		<mapper resource="com/game/mybatis/daobean/questiondaomapper.xml"/>
		<mapper resource="com/game/mybatis/daobean/recorddaomapper.xml"/>
		<mapper resource="com/game/mybatis/daobean/userdaomapper.xml"/>
    </mappers>
    
</configuration>
